.NavBar{
    padding: 10px 0;
    justify-content: space-between;
    display: flex;
}
.NavBar ul
{
    margin: 0;
    padding: 0;
}
.NavBar ul li
{
    list-style: none;
    display: inline-block;
}
.NavBar ul li a
{
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 400;
    color: #565673;
    padding: 0 10px;
}
.Search form
{
    display: flex;
    margin: 0 10px;
}
.SearchInput
{   
    width: 0;
    transition: width 0.2s ease-in;
    border: 0;
}
.SearchInputActive{
    width: 150px;
}
.SearchInput:focus
{   
    outline: none;
}
.SearchIcon{
    cursor: pointer;
}
